{% extends 'home/home_facturacion.html' %}
{% load static %}

{% block titulo %} Procesar Maquila {% endblock titulo %}

{% block contenido %}


<!-- Section -->

<section class="listas">
    <div class="listas_recientes">
        <div class="encabezado_listas disable-select">
            <section class="ubicacion">
                <div>
                    <label>Hermosillo</label>
                </div>
            </section>
            <h2 class="titulo">Lista de Campos Agricolas</h2>
            <div class="seleccion_ch" style="visibility: hidden; opacity: 0;">
                <a href="#" class="btn seleccion_ch add disable-select">Agregar</a>
            </div>
        </div>
        {%include 'home/conmon/checkBox.html' %}
        <div class="overflow">
            <table class="tabla_listas_ch">
                <thead>
                    <tr>
                        <th>Campo agrícola</th>
                        <th>ubicación</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody id="tabla_campos_agricolas" class="div_tabla_empresas">
                    {% for campo_agricola in lista_campos_agricola %}
                    <tr>
                        <td>{{ campo_agricola.campo_agricola.nombre }}</td>
                        <td>{{ campo_agricola.campo_agricola.ubicacion }}</td>
                        {% if campo_agricola.procesado %}
                            <td>
                                <input class="inputMod" type="button" value="P" id="ver_listado"
                                    style="background-color: green; text-align: center;"
                                    campo_agricola="{{ campo_agricola.campo_agricola.pk }}" >
                            </td>
                        {% else %}
                            <td><input class="inputMod" type="button" value="N/P" id="no_procesado"
                                style="background-color: red; text-align: center;" 
                                campo_agricola="{{ campo_agricola.campo_agricola.pk }}">
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</section>

<!-------------------------------------------------- JAVASCRIPT --------------------------------------------------------->

<script>

    // FUNCIOANMIENTO DE LOS BOTONES

    let lista_abrir = document.getElementById ("tabla_campos_agricolas");
        lista_abrir.addEventListener("click", function(e){
            const elemento_accionado = e.target;

            // Para el funcionamiento de botones de no procesado
            if (elemento_accionado.matches("#no_procesado")){
                campo_agricola = elemento_accionado.getAttribute("campo_agricola")
                tipo_semana = elemento_accionado.getAttribute("tipo_semana")
                semana = elemento_accionado.getAttribute("semana")
                window.location = "{% url 'facturacion:procesos:procesar_maquila:registrar'%}"+"?campo_agricola="+campo_agricola

            }
            // Para el funcionamiento de botones de ver listado
            else if (elemento_accionado.matches("#ver_listado")){
                campo_agricola = elemento_accionado.getAttribute("campo_agricola")
                tipo_semana = elemento_accionado.getAttribute("tipo_semana")
                semana = elemento_accionado.getAttribute("semana")
                window.open("{% url 'facturacion:procesos:procesar_maquila:reporteListadoMaquila'%}"
                            +"?campo_agricola="+campo_agricola)

            }

        });


</script>


{% endblock contenido %}