{% load static %}
<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} Inicio Nomina {% endblock titulo %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="preload" href={% static "css/normalize.css" %} as="style">
    <link rel="stylesheet" href={% static "css/normalize.css" %}>
    <link rel="preload" href={% static "css/styles.css" %} as="style">
    <link rel="stylesheet" href={% static "css/styles.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;800&family=Open+Sans:ital,wght@0,600;0,700;0,800;1,300&display=swap');
    </style>
</head>

<body class="porcentaje">
    <header class="nav-principal">
        <nav class="menu">
            <ul>
                <li>
                    <a href="{% url 'nomina:home' %}"></a>
                </li>
                <li class="catalogs">
                    <a href="#" class="disable-select">Catálogos</a>
                    <ul class="barra_desplegable disable-select selectorNav">
                        <li><a href="{% url 'nomina:catalogos:empleados:lista' %}">Empleados</a></li>
                        <li><a href="{% url 'nomina:catalogos:empresas:lista' %}">Empresas</a></li>
                        <li><a href="{% url 'nomina:catalogos:puestos:lista' %}">Puestos</a></li>
                        <li><a href="{% url 'nomina:catalogos:cuadrilleros:lista' %}">Cuadrilleros</a></li>
                        <li><a href="{% url 'nomina:catalogos:campos:lista' %}">Campos agr.</a></li>
                        <li><a href="{% url 'nomina:catalogos:cultivos:lista' %}">Cultivos</a></li>
                        <li><a href="{% url 'nomina:catalogos:labores:lista' %}">Labores</a></li>
                        <li><a href="{% url 'nomina:catalogos:semanas:lista' %}">Semanas</a></li>
                        <li><a href="{% url 'nomina:catalogos:ubicaciones:lista' %}">Ubicaciones</a></li>
                    </ul>
                </li>
                <li class="process disable-select"><a href="#">Procesos y Consultas</a>
                    <ul class="barra_desplegable disable-select selectorNav">
                        <li><a href="{% url 'nomina:consultas:captura_jornales:registrar' %}">Captura de jornales</a></li>
                        <li><a href="{% url 'nomina:consultas:modificacion_jornales:registrar' %}">Modificación de jornales</a></li>
                    </ul>
                </li>

                <li class="tarjet disable-select">
                    <a href="#">Tarjetas</a>
                    <ul class="barra_desplegable disable-select selectorNav">
                        <li><a href="#">Listado de tarjetas </a></li>
                    </ul>
                </li>

                <li class="props disable-select">
                    <a href="#">Utilerias</a>
                    <ul class="barra_desplegable disable-select selectorNav">
                        <li><a href="#">Tabulador</a></li>
                        <li><a href="#">Cierre de semana</a></li>
                    </ul>
                </li>
                <li class="nomin disable-select" id="selected">
                    <a href="#">Nómina</a>
                    <ul class="barra_desplegable disable-select selectorNav">
                        {% if request.user.permisos_fletes %}
                        <li><a href="{% url 'fletes:home'%}">Fletes</a></li>
                        {% endif %}
                        {% if request.user.permisos_facturacion %}
                        <li><a href="{% url 'facturacion:home' %}">Facturación</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="report disable-select">
                    <a href="#">Panel</a>
                    <ul class="barra_desplegable disable-select selectorNav">
                        <li><a href="{% url 'users_app:user_panel' %}">Usuario</a></li>
                        <li><a href="#" onclick="location.href='{% url 'users_app:user_logout' %}'">Cerrar Sesión</a>
                        </li>
                        <li><a href="{% url 'home:home_modulos' %}">Selección de modulo</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="nomin">

        </div>
    </header>

    <main>
        <section class="main_lateral activate" id="bar_lado">
            <h3 class="observaciones">Observaciones</h3>
            <div class="flecha active" id="toggle">
                <img src={% static "img/Iconos/flecha.svg" %}>
            </div>
            <div class="img_calendario">
                <img src={% static 'img/Iconos/calendario_white.svg' %}>
            </div>
            <h3 class="observaciones">SEMANAS CERRADAS</h3>
            <div class="overflow_lateral">
                <table class="tabla_lateral">
                    <tr>
                        <th id="tab_main">Semana tipo 1</th>
                    </tr>
                    <tr>
                        <th class="var_color_tab">Lunes a domingo</th>
                    </tr>
                    <tr>
                        <th id="tab_main">Semana 15</th>
                    </tr>
                    <tr>
                        <td>01/10/2022 - 07/10/2022</td>
                    </tr>
                    <tr>
                        <th class="var_color_tab">Costa Hermosillo</th>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th class="var_color_tab">Guaymas</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th class="var_color_tab">Carbo</th>
                        <td>0</td>
                    </tr>
                </table>
                <table class="tabla_lateral espacio">
                    <tr>
                        <th class="separador_lateral" id="tab_main">Semana tipo 2</th>
                    </tr>
                    <tr>
                        <th class="var_color_tab">Domingo a Sábado</th>
                    </tr>
                    <tr>
                        <th id="tab_main">Semana 14</th>
                    </tr>
                    <tr>
                        <td>11/10/2022 - 17/10/2022</td>
                    </tr>
                    <tr>
                        <th class="var_color_tab">Costa Hermosillo</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th class="var_color_tab">Guaymas</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th class="var_color_tab">Carbo</tdh>
                        <td>0</td>
                    </tr>
                </table>
                <table class="tabla_lateral espacio">
                    <tr>
                        <th class="separador_lateral" id="tab_main">Semana tipo 3</th>
                    </tr>
                    <tr>
                        <th class="var_color_tab">Domingo a Sábado</th>
                    </tr>
                    <tr>
                        <th id="tab_main">Semana 14</th>
                    </tr>
                    <tr>
                        <td>11/10/2022 - 17/10/2022</td>
                    </tr>
                    <tr>
                        <th class="var_color_tab">Costa Hermosillo</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th class="var_color_tab">Guaymas</th>
                        <td>0</td>
                    </tr>
                    <tr>
                        <th class="var_color_tab">Carbo</tdh>
                        <td>0</td>
                    </tr>
                </table>
            </div>
            <table class="tabla_lateral espacio tab_flet">
                <tr>
                    <th class="separador_lateral" id="tab_main">Carros trabajando </th>
                    <td>15</td>
                </tr>
            </table>
            <h4 class="posicion disable-select">HERMOSILLO</h4>
        </section>
    </main>
    {% block contenido %}
    <!-- Section -->


    <!-- Section -->
    {% endblock contenido %}

    <div class="caja_img_fondo">
        <img src={% static 'img/GSMO2.png' %} class="img_fondo">
    </div>
    <script src={% static 'js/main.js' %}></script>
</body>