{% for captura in lista_capturas %}
<tr>
    <td>{{ captura.codigo }}</td>
    <td>{{ captura.nombre }}</td>
    <td>{{ captura.horas }}</td>
    <td>{{ captura.martes }}</td>
    <td>{{ captura.miercoles }}</td>
    <td>{{ captura.jueves }}</td>
    <td>{{ captura.viernes }}</td>
    <td>{{ captura.sabado }}</td>
    <td>{{ captura.domingo }}</td>
    <td>{{ captura.lunes }}</td>
    <td>{{ captura.sub_total }}</td>
    <td>{{ captura.diesel }}0</td>
    <td>{{ captura.comida }}0</td>
    <td>{{ captura.total }}</td>
    <!-- captura.id de abajo, hace referencia a la id del camion, no de la captura -->
    <td><input name="lang" value="{{ captura.id }}" type="checkbox"></td>
    <td>
        <input camion_id="{{ captura.id }}" class="inputMod imgVer" type="button" >
    </td>
    {% if semana_cerrada %}
        <td>
            <input camion_id="{{ captura.id }}" class="inputMod imgEditar" style="background-color: #6376fd !important ;" type="button">
        </td>
    {% else %}
        <td>
            <input camion_id="{{ captura.id }}" class="inputMod imgEditar" type="button">
        </td>
    {% endif %}

</tr>
{% endfor %}