{% extends 'home/home_nomina.html' %}
{% load static %}
{% block titulo %} Lista de puestos {% endblock titulo %}
{% block contenido %}

<section class="listas">
    <div class="listas_recientes">
        <div class="encabezado_listas disable-select">
            <section class="ubicacion">
                <div>
                    <label>Hermosillo</label>
                </div>
            </section>
            <h2 class="titulo">Lista de Puestos</h2>
            <div class="seleccion_ch">
                <a href="{% url 'nomina:catalogos:puestos:registrar' %}" class="btn seleccion_ch add disable-select">Agregar</a>
            </div>
        </div>
        {%include 'home/conmon/input_buscar.html' %}
        {%include 'home/conmon/checkBox.html' %}

        <div class="overflow">
            <table class="tabla_listas_ch">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for puesto in lista_puestos %}
                    <tr onclick='location.href="{% url "nomina:catalogos:puestos:consulta" pk=puesto.id %}"'>
                        <td>{{ puesto.codigo }}</td>
                        <td>{{ puesto.nombre }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section> 

{% endblock contenido %}