{% extends 'home/home_fletes.html' %}
{% load static %}
{% block titulo %} Consulta de campos {% endblock titulo %}
{% block contenido %}

<!-- Section -->

<section class="listas">    
    <div class="listas_recientes">
        <div class="encabezado_listas" id="var_encabezado">
            <h2 class="titulo" id="var_titulo">Consulta de Campo Agricola</h2>
        </div>
        <div class="control_back_botton">
            <a class="btn seleccion_ch back disable-select" href="{% url 'fletes:catalogos:campos:lista' %}">Retornar</a>
        </div>
        <div class="overflow">  
            <div class="contenedorRegistro_empleados">
                <form method="POST">{% csrf_token %}
                    <div class="panel panel_default">
                        <div class="panel_heading">
                            <h3>Datos del Campo agricola</h3>
                        </div>
                        <div class="panel_body">
                            <div class="grupo_formulario roll">
                                <div class="colum_input">
                                    <label>Codigo</label>
                                    <input class="form_control" type="number" value="{{ codigo_actual }}" disabled>
                                </div>
                                <div class="colum_input">
                                    <label>Nombre de Campo</label>
                                    <div class="form_control">
                                    {{ form.nombre }}
                                    </div>
                                </div>
                                <div class="colum_input">
                                    <label>Ubicacion</label>
                                    <div class="form_control">
                                        {{ form.ubicacion }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% include 'home/conmon/btnMasEditar.html' %}
            </div>
        </div>
    </div>
</section>

<!-- Section -->

{% endblock contenido %}