{% extends 'home/home_fletes.html' %}
{% load static %}
{% block titulo %} Lista de campos {% endblock titulo %}
{% block contenido %}
<!-- Section -->

    <section class="listas">
        <div class="listas_recientes">
            <div class="encabezado_listas disable-select">
                <section class="ubicacion">
                    <div>
                        <label>Hermosillo</label>
                    </div>
                </section>
                <h2 class="titulo">Lista de Campos Agricolas</h2>
                <div class="seleccion_ch">
                    <a href="{% url 'fletes:catalogos:campos:registrar' %}" class="btn seleccion_ch add disable-select">Agregar</a>
                </div>
            </div>
            {%include 'home/conmon/input_buscar.html' %}
            {%include 'home/conmon/checkBox.html' %}
            <div class="overflow">
                <table class="tabla_listas_ch">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Tipos Semana</th>
                            <th>Ubicacion</th>
                        </tr>
                    </thead>

                    <tbody class="div_tabla_empresas">
                        {% for campo in lista_campos %}
                            <tr>
                                <td>{{ campo.codigo }}</td>
                                <td>{{ campo.nombre }}</td>
                                <td>
                                    [
                                        {% for tipo in campo.tipos_semana.all %}

                                            {% if forloop.last %}
                                                {{ tipo.tipo }}
                                            {% else %}
                                                {{ tipo.tipo }}, 
                                            {% endif %}

                                        {% endfor %}
                                    ]
                                </td>
                                <td>{{ campo.ubicacion }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>



<!-- Section -->

{% endblock contenido %}