{% extends 'home/home_fletes.html' %}
{% load static %}
{% load i18n %}

{% block contenido %}

<!-- Section -->

<section class="listas">    
    <div class="listas_recientes">
        <div class="encabezado_listas" id="var_encabezado">
            <h2 class="titulo" id="var_titulo">Registro de Empresas</h2>
        </div>
        <div class="control_back_botton">
            <a class="btn seleccion_ch back disable-select" href="{% url 'fletes:catalogos:empresas:lista' %}">Retornar</a>
        </div>
        <div class="contenedorRegistro_empleados">
            <form method='POST'> {% csrf_token %}
                <div class="panel panel_default">
                        <div class="panel_heading">
                            <h3>Datos de la empresa</h3>
                        </div>
                        <div class="panel_body">
                            <div class="grupo_formulario roll">
                                <div class="colum_input" id="grupoCodEmp">
                                    <label>Codigo</label>
                                    <input type="text" name="codigo" value="{{ codigo_actual }}" placeholder="Codigo" class="form_control" maxlength="5" required="" id="id_codigo" disabled>
                                    <span class="ponerRojo">Se esperan 4 dígitos</span>
                                </div>
                                <div class="colum_input" id="grupoNombre">
                                    <label>Nombre</label>
                                    {{ form.nombre }}
                                    <span class="ponerRojo">El nombre debe tener de 4 a 50 caracteres y no debe de contener números</span>
                                </div>
                                <div class="colum_input" id="grupoDir">
                                    <label>Dirección</label>
                                    {{ form.direccion }}
                                    <span class="ponerRojo">Se esperan al menos 3 caracteres, puede contener numeros</span>
                                </div>
                            </div>
                            <div class="grupo_formulario roll">
                                <div class="colum_input" id="grupoEstadEmp">
                                    <label>Estado</label>
                                    {{ form.estado }}
                                    <span class="ponerRojo">El estado debe tener mas de 4 caracteres y no debe de contener números</span>
                                </div>
                                <div class="colum_input" id="grupoCol">
                                    <label>Colonia</label>
                                    {{ form.colonia }}
                                    <span class="ponerRojo">La colonia debe tener mas de 4 caracteres y no debe de contener números</span>
                                </div>
                                <div class="colum_input" id="grupoCiudad">
                                    <label>Ciudad</label>
                                    {{ form.ciudad }}
                                    <span class="ponerRojo">La ciudad debe tener mas de 4 caracteres y no debe de contener números</span>
                                </div>
                            </div>
                            <div class="grupo_formulario roll">
                                <div class="colum_input" id="grupoCpEmp">
                                    <label>C.P.</label>
                                    {{ form.cp }}
                                    <span class="ponerRojo">Se esperan 5 dígitos y no debe de contener letras</span>
                                </div>
                                <div class="colum_input" id="grupoRFC">
                                    <label>R.F.C.</label>
                                    {{ form.rfc }}
                                    <span class="ponerRojo">Se esperan 16 caracteres, solo con mayúsculas y escrito correctamente</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    {%include 'home/conmon/btnGuardar.html' %}

                    {% if form.errors %}

                    {% for field in form %}
                        {% for error in field.errors %}
                            <label> ({{ field.label }})  {% trans error|escape %} </label>
                        {% endfor %}
                    {% endfor %}

                    {% for error in form.non_field_errors %}
                        <label> {% trans error|escape %} </label>
                    {% endfor %}
                    
                {% endif %}
                    
            </form>
        </div>
    </div>
</section>

<script src={% static 'js/fletes/registroFletes.js' %}></script>
<!-- Section -->

{% endblock contenido %}

<!-------------------------------------------Javascript----------------------------------------------->

        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script>
        
            function toTablaTipos(string){
                string = string.split(' ')
                string[1] = ' - '
                string[0][0][0] = string[0][0][0].toUpperCase()
                string[2][0][0] = string[2][0][0].toUpperCase()

                console.log(string[2][0][0])
            
                return string[0]+string[1]+string[2]
            
            }
            
            $(document).ready(function() {
            
                html = ""
            
                diccionario_tipos = {
                    {% for key,value in diccionario_tipo_semanas.items %}
                        {{ key }} : '{{ value }}',
                    {% endfor %}
                }
            
                for (tipo in diccionario_tipos){
                    html = "<p>"+html+'SEMANA '+String(tipo)+': '+toTablaTipos(diccionario_tipos[tipo])+"</p>\n"
                }

                console.log(html)
            
                $('#tabla_tipos').html(html)

            });
            
        </script>