:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #19498a;
    --secundario: #ae690c;
    --gris: #757575;
    --azul: #285fac
    --Azul Claro:(218, 226, 243)
    --Azul Oscuro:(135, 181, 245)
}

html {
    font-size: 48%;
    box-sizing: border-box;
    height: 100%;
    min-height: 70rem;
    min-width: 170rem;
    font-family: 'Krub', sans-serif;
    font-family: 'Noto Sans', sans-serif;
}

body{
    font-weight: bold;
    color: var(--primario);
    font-size: 12px; /* 1rem = 10px */
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
footer {
    position: static;
    padding: 5px;
    width: 100%;
    background-color: #908e8e;
    color: white;
    text-align: center;
    height: 3vh;
    font-weight: normal;
}

/* ************************************************************ MENU DE NAVEGACIÓN *****/
.nav-principal {
    position: relative;
    background: var(--primario);
    white-space: nowrap;
}

.nav-principal nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 140rem;
}

.nav-principal nav ul {
    list-style: none;
    display: flex;
    
}

a {
    text-decoration: none;
    color: white;
    padding: 16px 30.5px 16px 30.5px;
    margin: 5px;
    display: block;
    
}
a:hover {
    background: var(--secundario);
    color: black;
    transition: color 1s;
}



.nav-principal nav ul li ul {
    position: absolute;
    background: #285fac;
    display: none;
    z-index: 100;
    line-height: 1px;
    white-space: nowrap;
    
}


.nav-principal nav ul li ul li a :hover {
    margin: 0;
}

.nav-principal nav ul li ul li {
    width: 130px;
    display: inline;
    
}

.nav-principal nav ul li:hover > ul {
    display: block;
}

h1 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
    margin-right: 80px;
}
.menp {
    margin-left: 4rem;
}

/* *********************************************************************************** */





.label1 {
    margin-left: 3rem;
}






/* ****************************************************************TABLAS************* */

.tabla {
    background: var(--primario);
    color: white;
    width: 22rem;
    height: 90vh;
    min-width: 22rem;
    min-height: 100rem;
    margin: 1.5px;

}
.tabla th {
    color: var(--blanco);
    border-bottom: 1px solid var(--blanco);
}
table {
    border-collapse: collapse;
}

.tabla td,th {
    padding: 10px 10px 0 15px ;

}
.direccion_registro:hover {
    background: rgb(134, 178, 240);
    transition-property: background ;
    transition-duration: .3s;
}
.direccion_registro {
    cursor: pointer;
}

caption {
    margin: 70px 0 10px 0;
}


.tabla th {
    color: var(--blanco);
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: var(--primario);
}



[type="number"], [type="text"], [type="date"], textarea{
    margin-bottom: .5rem;
    width: 21.25%;
    background: none;
    padding: .5rem;
    border: 1px solid var(--primario);
    border-radius: .5rem;
}



.tabla-main tr:nth-child(even):hover {
    background: rgb(134, 178, 240);
}

.observaciones {
    position: absolute;
    display:  inline-block;
    text-align: center;
    color: white;
    background-color: var(--gris);
    margin: 15px 20px 20px 30px;
    padding: 1rem;
    border-radius: .5rem;   
}

.posicion {
    position: absolute;
    z-index: 50px;
    background-color: white;
    padding: 4px;
    border-radius: 5px;
    top: 67rem;
    left: 1rem;
    border: 3px solid#285fac;
    color: var(--primario);
}

.tabla input {
    padding: 1px 30px;
    margin: 45px 0 0 40px;
    border-radius: 5rem;
}

/* *************************************************************************************** */
.btn-grid_lista_empleados {
    position: absolute;
    display:flex;
    justify-content: space-between;
    top: 8rem;
    left: 23rem;
    width: 84vw;
    min-width: 130rem;
    min-height: 20rem;
    white-space: nowrap;
}

.div_tabla {
    position: absolute;
    left: 23rem;
    top: 15rem;
    white-space: nowrap;
    height: 75vh ;
    min-height: 80rem;
    width: auto;
    min-width: 100rem;
    overflow: auto;
}

.div_tabla_registro_semana {
    position: absolute;
    top: 25rem;
    left: 1rem;
}

.div_tabla_empleados {
    position: absolute;
    left: 23rem;
    top: 15rem;
    white-space: nowrap;
    height: 75vh ;
    min-height: 80rem;
    width: 88vw;
    min-width: 100rem;
    overflow: auto;
}   

.div_tabla_empleados::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 5px;
}

.div_tabla_empleados::-webkit-scrollbar-thumb {
    background-color: var(--primario);
    border-radius: 5px;
}

.div_tabla::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 5px;
}

.div_tabla::-webkit-scrollbar-thumb {
    background-color: var(--primario);
    border-radius: 5px;
}

.tabla-main th {
    padding: 10px 10px ;
    background-color: #243863;
    border-bottom: 3px solid var(--oscuro);
    color: var(--blanco);
    background-color: var(--primario);
    font-size: 1.8rem;
}

.tabla-main tr:nth-child(even) {
    background-color: rgb(215, 228, 227);
}

.tabla-main td {
    padding: 15px 40px;
}


/******************************************************EMPRESAS*********************************/

.div_tabla_empresas::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: #3477d5;
}

.div_tabla_empresas::-webkit-scrollbar-thumb {
    background-color: var(--primario);
    border-radius: 5px;
}

.div_tabla_empresas td {
    padding: 15px 115px;
}

/**********************************************************************Cuadrilleros*/

.tabla-main_cuadrilleros td {
    padding: 15px 40px;
}

/********************************************************************** GRIDS **********/
ain-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.catemp-grid {
    display: grid;
    grid-template-columns: .5fr 1fr;
    margin: 0 2rem;
}
.catemp-grid [type="text"], .catemp-grid [type="date"], .catemp-grid [type="number"] {
    width: 250px;
}

textarea {
    margin-bottom: .5rem;
    width: 91.2%;
}

h2 {
    position: relative;
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
}
.empresas-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin-top: 4rem;
}
.empresas-grid2 {
    position: absolute;
    display: grid;
    top: 46rem;
    left: 38rem;
    grid-template-columns: 1fr 1fr .7fr 1fr;
    align-items: center;
}
.empresas-grid2 fieldset {
    border: none;
}
.empresas-grid [type="text"], .empresas-grid [type="number"] {
    width: 100%;
}
/***************************************************************************************/


/***************************************************************** BOTONES ************/

.btn-grid {
    position: absolute;
    display:flex;
    justify-content: space-between;
    top: 8rem;
    left: 23rem;
    width: 84vw;
    min-width: 130rem;
    min-height: 20rem;
    white-space: nowrap;
}

.btn-grid_2 {
    position: absolute;
    display:flex;
    top: 8.5rem;
    left: 23rem;
    width: 84vw;
    min-width: 130rem;
    min-height: 20rem;
    white-space: nowrap;
}

.titulo {
    margin: 10px 5px 5px 5px;
    display: block;
}

.catemp-btns {
    padding: auto;
    display: inline-block;
    margin: 5px;

}

.btn-buscar {
    margin-top: 3px;
    white-space: nowrap;  
}

.btn-buscar input {
    width: 80%;
    margin-left: .5rem;
    padding: 5px;
    white-space: nowrap;
    border: 2px solid var(--primario);
    border-radius: 5px;
    background-color: rgb(131, 141, 162);
}
.btn-buscar input::placeholder {
    color: rgba(51, 48, 74, 0.701);
}

.btn-buscar :focus {
    color: var(--primario);
    font-size: 1.7rem;
    background-color: rgb(191, 206, 237);
    transition-duration: .3s;
}

.btn {
    background-color: var(--primario);
    padding: 1rem 3rem;
    color: var(--blanco);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: .5rem;
}
.btn2 {
    background: #ccc;
    padding: 1rem 3rem;
    color: var(--blanco);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: .5rem;
}
.btn:hover {
    background-color: var(--secundario);
    color: var(--oscuro);
    transition: all .2s;
}

 .img-fondo {
    position: absolute;
    background-image: url(../img/GSMO.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-width: 170rem;
    min-height: 100rem;
    padding: 1px;
    z-index: -500;
    top: 0  ;
}

.catemp-btns_2 {
    padding: auto;
    display: inline-block;
    margin: 0 0 0 35rem;
    width: 10px;
    height: 10px;
}

/***************************************************REGISTRO DE CUADRILLA**************/

.catemp-grid_registro_cuadrilla {
    position: absolute;
    display: block;
    width: 100rem;
    height: auto;
    top: 13rem;
    left: 25rem;
}
.catemp-grid_registro_cuadrilla fieldset {
    border: none;
}

/**************************************************************FORMULARIOS**************/

.formularios {
    overflow: auto;
    position:absolute;
    top: 15rem;
    left: 23rem ;
    margin-top: 1rem;
    width: 85vw;
    min-width: 145rem;

}
.fieldset_formularios {
    border: none;
    width: 130rem;
    height: 24.5rem;
    margin-left: 42.5rem;
}

.fieldset_cuentas {
    margin: 1rem 2rem;
    width: 122rem;
    height: 5rem;
    white-space: nowrap;
    border: none;
}

.fieldset_catemp {
    width: 60rem;
    border: none;
}

.fieldset_catemp_2 {
    width: 60rem;
    height: 27rem;
    margin: 0 -4rem;
    border: none;
}

.fieldset_registro_cultivo {
    position: absolute;
    top: 18rem;
    left: 24rem;
    width: 75rem;
}

.fieldset_registro_cultivo label,input {
    margin-right: 1rem;
}

.fieldset_registro_semana {
    position: absolute;
    top: 25rem;
    left: 38rem;
}

.foto_perfil {
    position: absolute;
    width: 30rem;
    left: 25rem;
    top: 15rem;
    border:  5px solid royalblue;
    object-fit: cover;
    z-index: 1;
}

.formularios2 {
    position:absolute;
    top: 8rem;
    left: 23rem;
    margin: 0 15rem;
    margin-top: 3rem;
}

.formularios2 fieldset {
    border: none;
}

.formularios2 [type="text"], .formularios2 [type="date"], .formularios2 [type="number"], .formularios2 [type="checkbox"], label {
    margin: 4px 8px 6px 0px
}

.fieldset-empresas {
    margin-top: 10rem;
}
.clasesform {
    padding: .5rem;
    align-items: center;
}

.formularios input,textarea {
    background-color:rgb(218, 226, 243);
}

.formularios input:focus {
    background-color: rgb(135, 181, 245);
    font-size: 1.7rem;
    transition: .5s;
}

.formularios textarea:focus {
    background-color: rgb(134, 178, 240);
    font-size: 1.7rem;
    transition: .5s;
}

.clasesform2 {
    display: flex;
    width: 90%;
}
.clasesform3 {
    display: inline;
    padding: 0 15px 0 0;
}

.clasesform2 label {
    align-items: center;
}

.clasesform2 [type="number"] {
    width: 55%;
    margin-bottom: 2rem;
}

.clasesform2 [type="checkbox"] {
    margin-top: 1rem;
}

.parrafo-empresas {
    border: 2px solid var(--primario);
    margin-right: 5rem;
    padding: 1rem;
}


.grupo_formularios {
    position: fixed;
    left: 23rem;
    top: 15rem;
    width: 150rem;
}

.formulario_dinamico_1 {
    display: inline;
    margin-right: 20px;
}

.grupo_formularios form {
    display: inline;
}

@media (min-height: 900px) {
    .parrafo-empresas {
        margin-right: 13rem;
    }
}
/*************************************************************************************/




/* ********************************************************** CLASES DEL MENU PRINCIPAL */
.img-fondo2 {
    background: url(../img/GSMO2.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 84%;
    padding: 2px;
}
@media (min-height: 900px) {
    .img-fondo2 {
        height: 84%;
    }
}
.menu-principal {
    display: flex;
    margin: 7rem;
    justify-content: space-evenly;
}
.menu-principal div {
    cursor: pointer;
}
.mp1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.mp1 img {
    border-radius:  1rem;
}
/* ******************************************************************************************* */






/********************************************************LOGIN-BOX********************/
.login-box {
    width: 520px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 2rem;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: var(--primario);
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: var(--secundario);
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    margin: -20px;
    color: darkgrey;
    background: none;
  }
  
  .login-box a:hover {
    color: #fff;
  }
  .img-fondo3 {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 785px;
    padding: 2px;
}
@media (min-height: 1000px) {
    .img-fondo3 {
        height: 1135px;
    }
}


/***************************************************************************************/