{% extends 'home/home_facturacion.html' %}
{% load static %}

{% block titulo %} Factura {% endblock titulo %}

{% block contenido %}
<div class="modalContainer">
    <div class="modal modalWidth modalClose">
        <p class="close marginClose" id="closeModal">X</p>
        <img src="" alt="">
        <div class="modalTextos">
            <div class="contenedorRegistro_empleados">
                <form>
                    <div class="panel panel_default">
                        <div class="panel_heading">
                            <h2>Generar factura</h2>
                        </div>
                        <div class="panel_body">
                            <div class="grupo_formulario roll">
                                <div class="colum_input colum_inputVar">
                                    <label>No. de remisión:</label>
                                    <select name="" id="remision" class="form_control">
                                        <option value="">-----------------------</option>
                                        {% for remision in lista_remisiones %}
                                            <option value="{{ remision.pk }}">{{ remision.codigo }} | ${{ remision.importe }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="colum_input colum_inputVar">
                                    <label>No. de factura:</label>
                                    <input id="factura" class="form_control" type="number" value="">
                                </div>
                            </div>
                            <div class="grupo_formulario roll">
                                <div class="colum_input colum_inputVar">
                                    <label>Fecha:</label>
                                    <input id="fecha" class="form_control" type="text" disabled>
                                </div>
                                <div class="colum_input colum_inputVar">
                                    <label>Campo Agricola:</label>
                                    <input id="campo_agricola_modal" class="form_control" type="text" disabled value="">
                                </div>
                            </div>
                            <div class="grupo_formulario roll">
                                <div class="colum_input colum_inputVar">
                                    <label>Ubicacion:</label>
                                    <input id="ubicacion" class="form_control" type="text" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel_default">
                        <div class="panel_body">
                            <div class="grupo_formulario roll">
                                <div class="overflow_modal" style="height: 15%;">
                                    <table id="tabla_fechas" class="tab_mod_modal">
                                        <thead class="thead_registro colorModal">
                                            <tr>
                                                <th>Semanas</th>
                                                <th>Concepto</th>
                                                <th>Tipo de pago</th>
                                                <th>Importe</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tabla_abonos">
                                            <tr>
                                                <td><input class="form_control" type="text" disabled value="Semana 1"
                                                        style="text-align: center; padding: 0px 12px;"></td>
                                                <td><input class="form_control" type="text" disabled
                                                        value="21/05/2020 - 28/05/2020" style="text-align: center; padding: 0px 12px;">
                                                </td>
                                                <td><input class="form_control" type="text" disabled value="Pago total"
                                                        style="text-align: center; padding: 0px 12px;"></td>
                                                <td><input class="form_control" type="text" disabled value="$125,130.00"
                                                        style="text-align: center; padding: 0px 12px; font-weight: 700;"></td>
                                            </tr>
                                            <tr>
                                                <td><input class="form_control" type="text" disabled value="Semana 1"
                                                        style="text-align: center; padding: 0px 12px;"></td>
                                                <td><input class="form_control" type="text" disabled
                                                        value="21/05/2020 - 28/05/2020" style="text-align: center; padding: 0px 12px;">
                                                </td>
                                                <td><input class="form_control" type="text" disabled value="Pago total"
                                                        style="text-align: center; padding: 0px 12px;"></td>
                                                <td><input class="form_control" type="text" disabled value="$125,130.00"
                                                        style="text-align: center; padding: 0px 12px; font-weight: 700;"></td>
                                            </tr>
                                            <tr>
                                                <td><input class="form_control" type="text" disabled value="Semana 1"
                                                        style="text-align: center; padding: 0px 12px;"></td>
                                                <td><input class="form_control" type="text" disabled
                                                        value="21/05/2020 - 28/05/2020" style="text-align: center; padding: 0px 12px;">
                                                </td>
                                                <td><input class="form_control" type="text" disabled value="Pago total"
                                                        style="text-align: center; padding: 0px 12px;"></td>
                                                <td><input class="form_control" type="text" disabled value="$125,130.00"
                                                        style="text-align: center; padding: 0px 12px; font-weight: 700;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="grupo_formulario roll" style="flex-direction: row-reverse;">
                                        <div class="colum_input">
                                            <label>Total:</label>
                                            <input id="total_remision" class="form_control" type="number" value="800" disabled
                                                style="text-align: center; padding: 0px; font-size: 16px; font-weight: 700;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="botones">
                        <input type="button" id="boton_submit" class="btn seleccion_ch save disable-select"
                            value="Generar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modalContainerDos">
    <div class="modalDos modalCloseDos">
        <p class="close paddingClose marginClose" id="closeModalDos">X</p>
        <img src="" alt="">
        <div class="modalTextos">
            <div class="contenedorRegistro_empleados">
                <form>
                    <div class="panel panel_default">
                        <div class="panel_heading">
                            <h2>Facturación</h2>
                        </div>
                        <div class="panel_body">
                            <div id="tabla_remision" class="grupo_formulario">
                                <div class="colum_input varWidth textP">
                                    <label>Pago total en semana 1:</label>
                                    <p>$100.00</p>
                                </div>
                                <div class="colum_input varWidth textP">
                                    <label>Pago total en semana 2:</label>
                                    <p>$200.00</p>
                                </div>
                                <div class="colum_input varWidth textP">
                                    <label>Abono en semana 3:</label>
                                    <p>$1,000,300.00</p>
                                </div>

                                <div class="colum_input varWidth textP">
                                    <label>Total:</label>
                                    <p>$600.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<section class="listas">
    <div class="listas_recientes">
        <div class="encabezado_listas" id="var_encabezado">
            <h2 class="titulo" id="var_titulo">Factura</h2>
        </div>
        <div class="contenedorRegistro_empleados">
            <form id="formulario_bitacora" method="post"
                action="{% url 'fletes:procesos:capturas_fleteras:reporteBitacora' %}">{% csrf_token %}
                <div class="panel panel_default panelModCamiones">
                    <div class="modCamiones">
                        <b>Campo Agricola:</b>
                        <input type="text" id="campo_agricola" class="form_control"
                        value="{{ campo_agricola.nombre }}" campo_agricola="{{ campo_agricola.pk }}" disabled>
                    </div>
                    <div class="modCamiones">
                        <b>Desde:</b>
                        <input id="fecha_inicio" type="date" class="form_control" required>

                        <b>Hasta:</b>
                        <input id="fecha_final" type="date" class="form_control" required>

                    </div>
                </div>

                <div>
                    <div class="containerImprimir">
                        <div class="imprimir colorImprimir" id="contenido_tabla_capturas">
                            <input id="abrirModal" class="imprimirInput varImprimir" type="button"
                                value="Generar factura">
                        </div>
                    </div>
                    <div class="containerImprimir">
                        <div class="imprimir colorImprimirVar">
                            <input type="button" id="reporte_listado" value="Imprimir listado">
                        </div>
                    </div>
                </div>

                <div class="panel panel_default fontSize">
                    <div class="panel_body">
                        <div class="grupo_formulario roll">
                            <div class="overflow_mod_cam" id="contenido_tabla_capturas_dos">
                                <table id="tabla_fechas" class="tab_mod_camiones">
                                    <thead>
                                        <tr>
                                            <th>Concepto</th>
                                            <th>N° Semana</th>
                                            <th>Semana</th>
                                            <th>Remisión</th>
                                            <th>Fecha</th>
                                            <th>Factura</th>
                                            <th>Fecha</th>
                                            <th>Horas fletes</th>
                                            <th>Costo maquila</th>
                                            <th>Importe maquila</th>
                                            <th>Abonos</th>
                                            <th>Saldo</th>
                                        </tr>
                                    </thead>
                                    <tbody id="consultaRemision">
                                        <tr>
                                            <td>Maquila</td>
                                            <td class="bgBlue">1</td>
                                            <td>28/12/2021 - 03/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td>856.00</td>
                                            <td>270.00</td>
                                            <td class="bgLight">231,120.00</td>
                                            <td class="bgBlue"></td>
                                            <td>$ 231,120.00</td>
                                        </tr>
                                        <tr>
                                            <td>Maquila</td>
                                            <td class="bgBlue">1</td>
                                            <td>28/12/2021 - 03/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td>856.00</td>
                                            <td>270.00</td>
                                            <td class="bgLight">231,120.00</td>
                                            <td class="bgBlue"></td>
                                            <td>$ 231,120.00</td>
                                        </tr>
                                        <tr>
                                            <td>Maquila</td>
                                            <td class="bgBlue">1</td>
                                            <td>28/12/2021 - 03/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td>856.00</td>
                                            <td>270.00</td>
                                            <td class="bgLight">231,120.00</td>
                                            <td class="bgBlue"></td>
                                            <td>$ 231,120.00</td>
                                        </tr>
                                        <tr>
                                            <td>Maquila</td>
                                            <td class="bgBlue">1</td>
                                            <td>28/12/2021 - 03/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td>856.00</td>
                                            <td>270.00</td>
                                            <td class="bgLight">231,120.00</td>
                                            <td class="bgBlue"></td>
                                            <td>$ 231,120.00</td>
                                        </tr>
                                        <tr>
                                            <td>Maquila</td>
                                            <td class="bgBlue">1</td>
                                            <td>28/12/2021 - 03/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td>856.00</td>
                                            <td>270.00</td>
                                            <td class="bgLight">231,120.00</td>
                                            <td class="bgBlue"></td>
                                            <td>$ 231,120.00</td>
                                        </tr>
                                        <tr>
                                            <td><b>REMISIÓN</b></td>
                                            <td class="bgBlue"></td>
                                            <td></td>
                                            <td>100012</td>
                                            <td>24/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td class="bgLight"></td>
                                            <td class="bgBlue">
                                                $ 585,000.00
                                                <input type="button" value="Desglose" class="btnDesgloce">
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><b>REMISIÓN</b></td>
                                            <td class="bgBlue"></td>
                                            <td></td>
                                            <td>100012</td>
                                            <td>24/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td class="bgLight"></td>
                                            <td class="bgBlue">
                                                $ 585,000.00
                                                <input type="button" value="Desglose" class="btnDesgloce">
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Maquila</td>
                                            <td class="bgBlue">1</td>
                                            <td>28/12/2021 - 03/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td>856.00</td>
                                            <td>270.00</td>
                                            <td class="bgLight">231,120.00</td>
                                            <td class="bgBlue"></td>
                                            <td>$ 231,120.00</td>
                                        </tr>
                                        <tr>
                                            <td>Maquila</td>
                                            <td class="bgBlue">1</td>
                                            <td>28/12/2021 - 03/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td>856.00</td>
                                            <td>270.00</td>
                                            <td class="bgLight">231,120.00</td>
                                            <td class="bgBlue"></td>
                                            <td>$ 231,120.00</td>
                                        </tr>
                                        <tr>
                                            <td>Maquila</td>
                                            <td class="bgBlue">1</td>
                                            <td>28/12/2021 - 03/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td>856.00</td>
                                            <td>270.00</td>
                                            <td class="bgLight">231,120.00</td>
                                            <td class="bgBlue"></td>
                                            <td>$ 231,120.00</td>
                                        </tr>
                                        <tr>
                                            <td>Maquila</td>
                                            <td class="bgBlue">1</td>
                                            <td>28/12/2021 - 03/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td>856.00</td>
                                            <td>270.00</td>
                                            <td class="bgLight">231,120.00</td>
                                            <td class="bgBlue"></td>
                                            <td>$ 231,120.00</td>
                                        </tr>
                                        <tr>
                                            <td>Maquila</td>
                                            <td class="bgBlue">1</td>
                                            <td>28/12/2021 - 03/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td>856.00</td>
                                            <td>270.00</td>
                                            <td class="bgLight">231,120.00</td>
                                            <td class="bgBlue"></td>
                                            <td>$ 231,120.00</td>
                                        </tr>
                                        <tr>
                                            <td>Maquila</td>
                                            <td class="bgBlue">1</td>
                                            <td>28/12/2021 - 03/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td>856.00</td>
                                            <td>270.00</td>
                                            <td class="bgLight">231,120.00</td>
                                            <td class="bgBlue"></td>
                                            <td>$ 231,120.00</td>
                                        </tr>
                                        <tr>
                                            <td>Maquila</td>
                                            <td class="bgBlue">1</td>
                                            <td>28/12/2021 - 03/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td>856.00</td>
                                            <td>270.00</td>
                                            <td class="bgLight">231,120.00</td>
                                            <td class="bgBlue"></td>
                                            <td>$ 231,120.00</td>
                                        </tr>
                                        <tr>
                                            <td>Maquila</td>
                                            <td class="bgBlue">1</td>
                                            <td>28/12/2021 - 03/01/2022</td>
                                            <td></td>
                                            <td></td>
                                            <td>856.00</td>
                                            <td>270.00</td>
                                            <td class="bgLight">231,120.00</td>
                                            <td class="bgBlue"></td>
                                            <td>$ 231,120.00</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>


<script src="../../../../static/js/modal.js"></script>
<script src="../../../../static/js/modalDos.js"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

<script>

    $(document).ready(function(){

        // --------------------- FILTRADO DE DATOS POR RANGO DE SEMANAS ---------------------------
        $('#fecha_inicio, #fecha_final').change(function() {
            var campo_agricola_id = $('#campo_agricola').attr('campo_agricola')
            var fecha_inicio = $('#fecha_inicio').val()
            var fecha_final = $('#fecha_final').val()

            if(campo_agricola_id.length > 0 && fecha_inicio.length > 0 && fecha_final.length > 0){
                $.ajax({ 
                    // Aunque estemos en consultas, los datos se van a cargar desde la misma url
                    // que las de facturacion, para que todos vayan desde la misma fuente
                    url: "{% url 'facturacion:procesos:asignar_factura:cargarListaFacturas' %}",
                    data: {
                        'campo_agricola' : campo_agricola_id,
                        'fecha_inicio' : fecha_inicio,
                        'fecha_final' : fecha_final
                    },
                    success: function (data) {
                        $('#consultaRemision').html('')
                        $('#consultaRemision').html(data)
                    }
                });
            }

        });


        // --------------------- DESARROLLO DE BOTONES CON SUS DATOS ------------------------------

        let lista_abrir = document.getElementById ("consultaRemision");
        lista_abrir.addEventListener("click", function(e){
            const elemento_accionado = e.target;
            console.log('entre al target')

            if (elemento_accionado.matches(".btnDesgloce")){
                console.log('entre al btn')
                remision_id = elemento_accionado.getAttribute("remision")

                $.ajax({ 
                    // Aunque estemos en consultas, los datos se van a cargar desde la misma url
                    // que las de facturacion, para que todos vayan desde la misma fuente
                    url: "{% url 'facturacion:procesos:asignar_factura:cargarDesglose' %}",
                    data: {
                        'remision':remision_id
                    },
                    success: function (data) {

                        console.log('sexo')
                        console.log(data)
                        
                        // Mandamos los datos al Modal
                        $("#tabla_remision").html(data)

                    }
                });

            }

        });


        $("#reporte_listado").click(function(){
            
            campo_agricola = $('#campo_agricola').attr('campo_agricola')
            fecha_inicio = $('#fecha_inicio').val()
            fecha_final = $('#fecha_final').val()

            if(campo_agricola.length > 0 && fecha_inicio.length > 0 && fecha_final.length > 0){
                
                window.open("{% url 'facturacion:consultas:fletes:reporteEstadoCuenta'%}"+"?campo_agricola="+campo_agricola
                            +"&fecha_inicio="+fecha_inicio+"&fecha_final="+fecha_final)

            }else {

                if(!campo_agricola.length > 0){
                    alert("Debe seleccionar un campo agricola")
                }
                else if(!fecha_inicio.length > 0){
                    alert("Debe seleccionar una fecha inicial")
                }
                else if(!fecha_final.length > 0){
                    alert("Debe seleccionar una fecha final")
                }

            }

        })


    })

</script>

{% endblock contenido %}