{% extends 'home/home_fletes.html' %}
{% load static %}
{% block titulo %} Lista de compañia fletera {% endblock titulo %}
{% block contenido %}

<!-- Section -->
    <section class="listas">
        <div class="listas_recientes">
            <div class="encabezado_listas disable-select">
                <section class="ubicacion">
                    <div>
                        <label>Hermosillo</label>
                    </div>
                </section>
                <h2 class="titulo">Lista de Compañia Fletera</h2>
                <div class="seleccion_ch">
                    <a href="{% url 'fletes:catalogos:compania_fletera:registrar' %}" class="btn seleccion_ch add disable-select">Agregar</a>
                </div>
            </div>
            {%include 'home/conmon/input_buscar.html' %}
            {%include 'home/conmon/checkBox.html' %}
            <div class="overflow">
                <table class="tabla_listas_ch">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Compañia Fletera</th>
                        </tr>
                    </thead>
                    
                    {% for compania in lista_companias_fleteras %}
                        <tr onclick='location.href="{% url "fletes:catalogos:compania_fletera:consultar" pk=compania.pk %}"'>
                            <td>{{ compania.codigo }}</td>
                            <td>{{ compania.nombre }}</td>
                        </tr>
                    {% endfor %}
                    
                </table>
            </div>
        </div>
    </section>

<!-- Section -->

{% endblock contenido %}